<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<!-- Don't forget to update version in glest-source/mk/linux/clone.sh as well -->
		<add key="version" value="2.0"/>
		<add key="binaries" value="https://codeload.github.com/Glest/windows-binaries/zip/2.0"/>
		<add key="binaries-dir" value="windows-binaries-2.0"/>
		<add key="binaries-md5" value="a73b1e83812efc3dc397874745d40537"/>
		<add key="data" value="https://codeload.github.com/Glest/glest-data/zip/2.0"/>
		<add key="data-dir" value="glest-data-2.0"/>
		<add key="data-md5" value="948d8a5326238cf3612c425ae4f9808f"/>
		<add key="data-bytes" value="630930790"/>
		<add key="data-7zlinecount" value="11124"/>
	</appSettings>
</configuration>
