<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<!-- Don't forget to update version in glest-source/mk/linux/clone.sh as well -->
		<add key="version" value="2.0"/>
		<add key="binaries" value="https://codeload.github.com/Glest/windows-binaries/zip/2.0"/>
		<add key="binaries-dir" value="windows-binaries-2.0"/>
		<add key="binaries-md5" value="caa0259309c3925c3edea59cdffd7ee7"/>
		<add key="data" value="https://codeload.github.com/Glest/glest-data/zip/2.0"/>
		<add key="data-dir" value="glest-data-2.0"/>
		<add key="data-md5" value="f20cd2d454435cacd1a4d92f0d671ab6"/>
		<add key="data-bytes" value="630932659"/>
		<add key="data-7zlinecount" value="11124"/>
	</appSettings>
</configuration>
