<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<!-- Don't forget to update version in glest-source/mk/linux/clone.sh as well -->
		<add key="version" value="2.0"/>
		<add key="binaries" value="https://codeload.github.com/Glest/windows-binaries/zip/2.0"/>
		<add key="binaries-dir" value="windows-binaries-2.0"/>
		<add key="binaries-md5" value="291c653b7bb58d52fd5097148527524c"/>
		<add key="data" value="https://codeload.github.com/Glest/glest-data/zip/2.0"/>
		<add key="data-dir" value="glest-data-2.0"/>
		<add key="data-md5" value="80be932feed6cd780536c41a81b6bc46"/>
		<add key="data-bytes" value="631814540"/>
		<add key="data-7zlinecount" value="11124"/>
	</appSettings>
</configuration>
